/* .fondo{
    background: url("2m.jpg")  no-repeat center center;
}

.igual-relacion{
    width: 630px;
    height: 380px;
}
.aplanado{
    width: 630px;
    height: 180px;
}
.alargado{
    width: 200px;
    height: 500px;
}

h1 , p{
    color: white;
} */

.img-cont{
    width: 350px;
    height: 450px;
    overflow: hidden;
}

.img-cont img{
    width: 100%;
    height: auto;
}